body {
  font-family: "Fira Sans";
  margin: 0;
}

#header {
  text-align: center;
  margin: 0;
  color: #e66000;
  background: rgba(0, 149, 221, 0.5);
}

#head {
  font-size: 84px;
  padding: .5em;
  margin: 0;
  font-weight: 600;
}

#line {
  height: 5px;
  width: 50%;
  background: #e66000;
  margin: 0 auto;
  border-radius: 200px;
}

#subhead {
  font-size: 36px;
  padding: 1em;
  margin: 0;
}

.comp {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  flex-direction: row;
  flex-shrink: 1;
  box-shadow: 0 0 .4rem rgba(0,0,0,0.35);
}

.compblocks {
  display: flex;
  flex-direction: column;
  margin: 0;
  flex-wrap: nowrap;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
}

.list>h2 {
  font-weight: 400;
  text-align: center;
}

.title {
  background: #424F5A;
  display: flex;
  justify-content: center;
  font-size: 2em;
  margin: 0;
  color: white;
  padding: .5em 2em;
  box-shadow: 0px 0.2rem rgba(0, 0, 0, 0.2);
}

.list {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  margin: 0;
  padding: 0 .5em;
  font-size: 1em;
}

#head2 {
  text-align: center;
  background: rgba(0, 149, 221, 0.5);
  margin: 0;
  padding: 1.2em;
  font-size: 54px;
}

a {
  text-decoration: none;
}

td>a {
  color: #000;
}

#browsers {
  background: rgba(0, 149, 221, 0.5);
  padding: 0 .5em 2em;
}

#browsertbl {
  margin: 0 auto;
  border-collapse: collapse;
  border: 1px solid #888;
  box-shadow: 0 0 .4rem rgba(0,0,0,0.35);
}

th {
  padding: 16px;
  border-bottom: 1px solid #555;
  font-size: 28px;
  text-align: left;
}

td {
  padding: 16px;
  border-bottom: 1px solid #555;
  font-size: 24px;
}

#h {
  background: #424F5A;
  color: #fff;
}

#ff {
  font-weight: bold;
  background: #7FFF7F;
}
.p {
  background: #FF7F7F;
}

.m {
  background: #FFFF40;
}

.o {
  background: #7FFF7F;
}

#after {
  text-align: center;
  font-size: 24px;
  margin: 0;
  padding-bottom: 2em;
}

#think {
  background: #424F5A;
  color: #fff;
  text-align: center;
  padding: 2em;
}

#head3 {
  font-size: 48px;
  margin: 0;
}

#subhead1 {
  font-size: 32px;
  margin: 0;
  padding: 1em 0;
}

#footer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  background: #e66000;
  box-shadow: 0px 0rem .6rem rgba(0, 0, 0, 0.6);
}

.footitem {
  display: flex;
  font-size: 40px;
  color: #fff;
  padding: 0 .3em;
  flex-basis: 0;
  flex-grow: 1;
  justify-content: space-around;
  margin: .5em 0;
}

p>a {
  color: white;
  padding: .3em;
  border-radius: 64px;
  border: 4px solid rgba(255, 255, 255, 0);
}

p>a:hover {
  padding: .3em;
  border-radius: 64px;
  border: 4px solid #fff;
  transition: .25s;
}
