body {
  font-family: "Fira Sans";
  margin: 0;
}

#header {
  text-align: center;
  margin: 0;
  color: #e66000;
  background: linear-gradient(#EAEFF2, #D4DDE4);
}

#head {
  font-size: 84px;
  padding: .5em;
  margin: 0;
  font-weight: 600;
}

#line {
  height: 5px;
  width: 50%;
  background: #e66000;
  margin: 0 auto;
  border-radius: 200px;
}

#subhead {
  font-size: 36px;
  padding: 1em;
  margin: 0;
}

#comp {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  flex-direction: row;
  flex-shrink: 1;
}

#compblocks {
  display: flex;
  flex-direction: column;
  margin: 0;
  flex-wrap: nowrap;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
}

#list>h2 {
  font-weight: 400;
  text-align: center;
}

#title {
  background: #424F5A;
  display: flex;
  justify-content: center;
  margin: 0;
  color: white;
  padding: .5em 2em;
  box-shadow: 0px 0.2rem rgba(0, 0, 0, 0.2)
}

#list {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  margin: 0;
  padding: 0 .5em;
}
